

JWT_SECRET_KEY = some_secret_key_that_should_be_changed_in_production

# Database configuration (Mysqlx)
DB_HOST = xx.xx.xx.xx #Change this to the actual IP address of your MySQL server
DB_USER = username #Change this to the actual username for your MySQL server
DB_PASSWORD = password #Change this to the actual password for your MySQL server
DB_PORT = 33060 #Change this to the actual port number for your MySQL server (default is 33060 for MySQL X Protocol)
DB_NAME = database #Change this to the actual name of your MySQL database
DB_TABLE1 = users #Change this to the actual name of the table for users in your MySQL database
DB_TABLE2 = items #Change this to the actual name of the table for items in your MySQL database
DB_URI = mysqlx://username:password@xx.xx.xx.xx:33060/database #Change this to the actual URI for your MySQL server, using the format mysqlx://username:password@host:port/database
CLIENT_POOL_SIZE = 10 #Change this to the desired size of the client pool for database connections